<html>
  <head>
    <title>React Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>

  <body>
    <div id="root"></div>
    <script type="text/babel">

        const Greeting = (props) => {
          if (props.user) {
            return <h6>Hello, <b>{props.user}</b>!</h6>;
          }
          return <p>welcome, <b>Stranger</b>.</p>;
        }


        const AllTitans = (props) => {
          //const titans = <%- titans %>;
          const listTitans = props.data.map((titansModel) =>

          <li key={titansModel._id} id={titansModel._id} onClick={props.clickHandler}>
            {titansModel.name}
          </li>);
   

          return <ul>{listTitans}</ul>
        }


        //trouble with {props.titansModel.name}
 
        const TitanDetail = (props) => {
          return  (
              <div>
                  <hr/>
                  <h4>Details:</h4>
                
                  <aside><button onClick={props.resetHandler} type="button">Reset</button></aside>
              </div>
          )
      }


        class App extends React.Component {
          constructor(props) {
            super(props);
            this.state = {
              titans: <%- titans %>,
              currentItem: {}
            };
           //this.selectTitan = this.selectTitan.bind(this);
          }

          //click event handler
          showDetail = (event) => {
            console.log(event.target)
            console.log(event.target.id)

           
            let name = event.target.innerText;
            let newTitan = this.state.titans.find((titansModel) => titansModel.name == name);
            console.log(name)
            console.log(newTitan)
            
            this.setState({"currentTitan": newTitan});

          }

          fieldChanged = (event) => {
            let newTitan = this.state.currentTitan;
            newTitan[event.target.name] = event.target.value;
            this.setState({currentTitan: newTitan});
        }



          render() {
            return <div>
              <div className="container">
                <div className="row">
                    <div className="full column">
                        <div className="wrap">
                            <h1>Home</h1>
                            <hr/>
                            <aside><Greeting /></aside>
                            <h3>Titans</h3>

                            < AllTitans data={this.state.titans} clickHandler={this.showDetail} />

                            < TitanDetail titansModel={this.state.currentTitan} onChange={this.fieldChanged}/>

                        </div>

                    </div>
                </div>
            </div>
            </div>;
          }
        }

          ReactDOM.render(<App />, document.getElementById('root'));
    </script>
  </body>
</html>
